html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #FAFAFA;
}

p {
  font-size: 1.3em;
  line-height: 1.5;
  text-align: justify;
}

.root {
  height: 100%;
}
